body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: fixed;
  background-image: url(./component/listPerson/list_compenents/img_png_file/train.jpeg);
  background-size: cover;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.team_change{
  width: 1000px;
  display: flex;
 border-top: 3px solid rgb(245, 139, 0);
 border-bottom: 3px solid rgb(245, 0, 225);
  justify-content: space-around;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px auto;
}

.true_work p{
  background-color: rgb(14, 211, 14);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}

.false_work p{
  background-color: rgb(211, 14, 14);
  padding: 10px;
  color: #fff;
  border-radius: 10px;
}
.true_work p {
  width: 300px;
  display: flex;
  justify-content: space-between; 
}
.false_work p {
  width: 300px;
  display: flex;
  justify-content: space-between; 
}